<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>首页</title>
    <link type="text/css" rel="stylesheet" th:href="@{/user/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/top-bar.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/choose.css}">
    <link rel="stylesheet" th:href="@{/css/advertising.css}">
    <link rel="stylesheet" th:href="@{/css/seckill.css}">
    <link rel="stylesheet" th:href="@{/css/commodity.css}">
    <link rel="stylesheet" th:href="@{/css/afterbody.css}">
    <script th:src="@{/user/js/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/user/js/jquery.luara.0.0.1.min.js}"></script>
</head>
</html>