<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div  class="width100" style="height: 25px;background: #f0f0f0;">
        <div class="width1200 center_yh font14 c_66" style="height: 25px;line-height: 25px;">
            <font class="left_yh">欢迎来到NCUMALL！</font>
            <div class="right_yh" id="fast_jump">
                <div th:if="${#request.getSession().getAttribute('user')!=null}">
                    <a href="#" th:text="${#request.getSession().getAttribute('username')}"></a>
                    <b></b>
                    <a th:href="@{/user/uExit}">退出</a>
                    <b></b>
                    <a th:href="@{/cart/myCart}">我的购物车</a>
                    <b></b>
                    <a th:href="@{/user/self}">个人中心</a>
                </div>
                <div th:if="${#request.getSession().getAttribute('user')==null}">
                    <a th:href="@{/user/uLogin}">登录</a>
                    <b></b>
                    <a th:href="@{/user/uRegis}">注册</a>
                    <b></b>
                    <a th:href="@{/manage/becomeManage}">成为商家</a>
                    <b></b>
                    <a th:href="@{/admin/login/login}">店铺管理</a>
                </div>

            </div>
        </div>
    </div>
    <div class="width100 hidden_yh">
        <div  class="width1200 center_yh hidden_yh">
            <a style="line-height: 50px" href="#" class="block_yh left_yh">
                <!--            <img th:src="@{/images/logo.png}" alt="" style="height: 70px">-->
                <h1 style="font-size:20px;color: red">NCUMALL</h1>
            </a>
        </div>
    </div>
</div>
