<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>管理员后台</title>
    <link rel="stylesheet" th:href="@{/css/pintuer.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/pintuer.js}"></script>
</head>
<body>
<div class="panel admin-panel">
    <form th:action="@{/admin/itemOrder/listItemOrder}" id="listform" method="post">
        <div class="padding border-bottom">
            <ul class="search" style="padding-left: 10px;">
                <li>
                    <input type="text" placeholder="订单号" name="code" class="input"
                           style="width: 250px;line-height: 17px;display: inline-block" />
                    <a href="javascript:void(0)" onclick="changeSearch()" class="button border-main icon-search">搜索</a>
                </li>
            </ul>
        </div>
    </form>
    <table class="table table-hover text-center">
        <tr>
            <th>订单号</th>
            <th>下单时间</th>
            <th>总金额</th>
            <th>下单人</th>
            <th>订单状态</th>
            <th>操作</th>
        </tr>
        <tr th:each="data:${list}">
            <td th:text="${data.code}"></td>
            <td th:text="${#dates.format(data.addTime,'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${data.total}"></td>
            <td th:text="${data.user.userName}"></td>
            <td th:text="${data.status}"></td>
            <td>
                <a class="button border-main" th:href="@{/admin/itemOrder/update(id=${data.id})}"><span class="icon-search">查看购买商品</span> </a>
                <a th:if="${data.status==0}" class="button border-green" th:href="@{/admin/itemOrder/send(id=${data.id})}"><span class="icon-edit">发货</span> </a>
            </td>
        </tr>

        <tr>
            <td colspan="8">
                <div class="pagelist">
                    <!--显示分页信息-->
                    <div class="modal-footer no-margin-top">
                        <div class="col-md-6">
                            当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
                        </div>

                        <ul class="pagination pull-right no-margin">
                            <li th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/admin/itemOrder/listItemOrder?pageNum=1'">首页</a>
                            </li>

                            <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/admin/itemOrder/listItemOrder?pageNum='+${pageInfo.prePage}">
                                    <i class="ace-icon fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <!--遍历条数-->
                            <li th:each="nav:${pageInfo.navigatepageNums}">
                                <a th:href="'/admin/itemOrder/listItemOrder?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                                <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                            </li>

                            <li class="next" th:if="${pageInfo.hasNextPage}">
                                <a th:href="'/admin/itemOrder/listItemOrder?pageNum='+${pageInfo.nextPage}">
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                </a>
                            </li>

                            <li>
                                <a th:href="'/admin/itemOrder/listItemOrder?pageNum='+${pageInfo.pages}">尾页</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    function changeSearch(){
        $("#listform").submit();
    }
</script>
</body>

</html>