<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/uHead :: head"></head>
<body>
<div th:replace="common/uTop :: header"></div>
<!--导航条-->
<div class="width100" style="height: 45px;background: #dd2e1e !important;margin-top: 40px;position: relative;z-index: 100;">
    <!--中间的部分-->
    <div class="width1200 center_yh relative_yh" style="height: 45px;">
        <!--列表导航-->
        <div class="left_yh Selected" style="background-color:#dd2e1e;width: 230px;height: 45px;" id="hiddenShow">
            <!--头部的图标-->
            <img th:src="@{/user/images/cd.png}" class="left_yh" style="margin-left: 24px;" alt="">
            <span class="block_yh left_yh fff" style="height: 45px;line-height: 44px;margin-left: 10px;">分类</span>
            <!--导航展开部分-->
            <div style="background-color:#dd2e1e;" class="downSlide">
                <div th:each="data:${lbs}">
                    <div class="n1Nav">
                        <font th:text="${data.father.name}"></font>
                        <img th:src="@{/user/images/jt.png}" alt="">
                        <div class="n2Nav">
                            <div class="n3Nav">
                                <h3 th:text="${data.father.name}"></h3>
                                <div th:each="child:${data.childrens}">
                                    <a th:href="@{/item/itemList(categoryId2=${child.id})}" th:text="${child.name}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--普通导航-->
        <div class="left_yh font16"  id="pageNav">
            <a th:href="@{/index/uIndex}">首页</a>
            <a href="#">待扩展1</a>
            <a href="#">待扩展2</a>
            <a href="#">待扩展3</a>
            <a href="#">待扩展4</a>
        </div>
    </div>
</div>
<!--<div>-->
<!--    <img style="width: 250px;height:300px;position: absolute;left: 0;top: 300px" class="float-left" th:src="@{/images/left.jpg}" alt="">-->
<!--    <img style="width: 250px;height:300px;position: absolute;right: 0;top: 300px" class="float-right" th:src="@{/images/right.jpg}" alt="">-->
<!--</div>-->
<div id="left_layer" style="position:fixed; top:200px; left:0px;">
    <img style="width: 250px;height:400px;" th:src="@{/images/left.jpg}"><br>
    <a href="javascript:;" style="position:fixed;left:0px;color: black" onclick="javascript:document.getElementById('left_layer').style.display='none';">关闭</a>
</div>

<div id="right_layer" style="position:fixed; top:200px; right:0px;">
    <img style="width: 250px;height:400px;" th:src="@{/images/right.jpg}"><br>
    <a href="javascript:;" style="position:fixed;right:0px;color: black" onclick="javascript:document.getElementById('right_layer').style.display='none';">关闭</a>
</div>
<!--轮动广告-->
<div class="width1200 center_yh hidden_yh" style="position: relative;z-index:80;">
    <div class="example2" style="width: 1200px;height: 490px;overflow: hidden;margin-left: 230px;">
        <ul>
            <li><img th:src="@{/images/a1.webp}" alt=""></li>
            <li><img th:src="@{/images/b1.webp}" alt=""></li>
            <li><img th:src="@{/images/c1.webp}" alt=""></li>
            <li><img th:src="@{/images/d1.webp}" alt=""></li>
        </ul>
    </div>
    <script>
        $(function () {
            $(".example2").luara({width:"966",height:"490",interval:4500,selected:"seleted",deriction:"left"});
        });
    </script>
</div>

<br>
<br>
<hr color="red">
<!--折扣商品-->
<div class="width1200 center_yh hidden_yh">
    <div class="width100" style="height: 45px;line-height: 45px;border-bottom: 2px solid #dd4545; margin-top: 20px;">
        <font class="left_yh font20">折扣商品</font>
    </div>
    <div class="width100 hidden_yh" style="height: 480px;">
        <div class="normalPic">
            <div th:each="data:${zks}">
                <a th:href="@{/item/viewItem(id=${data.id})}">
                    <img th:src="${data.url1}" width="105" height="118" alt="" style="margin:0 auto">
                    <p class="red font14" style="padding-left: 10px;" th:text="'价格￥：'+${data.price}+'元'"></p>
                    <h3 class="yihang c_33 font14 font100" style="padding-left: 10px;padding-right: 10px;" th:text="'商品名称:'+${data.name}"></h3>
                    <br>
                    <p style="color: #1f637b" th:text="'商品描述:'+${#strings.abbreviate(data.ms,20)}"></p>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<hr color="red">
<!--热门商品-->
<div class="width1200 center_yh hidden_yh">
    <div class="width100" style="height: 45px;line-height: 45px;border-bottom: 2px solid #dd4545; margin-top: 20px;">
        <font class="left_yh font20">热门商品</font>
    </div>
    <div class="width100 hidden_yh" style="height: 480px;">
        <div class="normalPic">
            <div th:each="data:${rxs}">
                <a th:href="@{/item/viewItem(id=${data.id})}">
                    <img th:src="${data.url1}" width="105" height="118" alt="" style="margin:0 auto">
                    <p class="red font14" style="padding-left: 10px;" th:text="'价格￥'+${data.price}+'元'"></p>
                    <h3 class="yihang c_33 font14 font100" style="padding-left: 10px;padding-right: 10px;" th:text="'商品名称：'+${data.name}"></h3>
                    <br>
                    <p style="color: #1f637b" th:text="'商品描述:'+${#strings.abbreviate(data.ms,20)}"></p>
                </a>
            </div>

        </div>
    </div>
</div>

<br>
<br>
<br>
<hr color="red">

<div th:replace="common/uFooter :: footer"></div>
</body>
</html>
