<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>操作后台</title>
    <link rel="stylesheet" th:href="@{/css/pintuer.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/pintuer.js}"></script>
</head>
<body style="background-color: #f2f9fd">
<div>
    <div class="header bg-main">
        <div class="logo margin-big-left fadein-top">
            <h1>操作后台</h1>
        </div>
        <div class="head-l">
            <a class="button button-little bg-green" th:href="@{/index/uIndex}" target="_blank">
                <span class="icon-home"></span>前台首页
            </a>
            <a class="button button-little bg-red" th:href="@{/admin/login/mExit}">
                <span class="icon-power-off"></span>退出登录
            </a>
        </div>
    </div>
    <div class="leftnav"  style="background-color: #507b79">
        <div class="leftnav-title"><strong><span class="icon-list">&nbsp;&nbsp;管理列表</span> </strong></div>
        <h2><span class="icon-user"></span> &nbsp;基本设置 </h2>
        <ul style="display: block" class="fadein-left list-group">
            <li><a th:href="@{/admin/itemCategory/listCategory1}" target="right"><span class="icon-caret-right"></span>类目管理</a> </li>
            <li><a th:href="@{/admin/item/listItem}" target="right"><span class="icon-caret-right"></span>商品管理</a> </li>
            <li><a th:href="@{/admin/itemOrder/listItemOrder}" target="right"><span class="icon-caret-right"></span>订单管理</a> </li>
            <li th:style="${manage.getStatus()!=0}?'display:none':''"><a th:href="@{/admin/user/listUser}" target="right"><span class="icon-caret-right"></span>用户管理</a> </li>
            <li th:style="${manage.getStatus()!=0}?'display:none':''"><a th:href="@{/admin/manage/listManage}" target="right"><span class="icon-caret-right"></span>商家管理</a> </li>
            <li><a th:href="@{/admin/manage/sUpdate(id=${#request.getSession().getAttribute('id')})}" target="right"><span class="icon-caret-right"></span>个人信息</a> </li>
        </ul>
    </div>
</div>
<ul class="bread">
    <li><a href="{:}" target="right" class="icon-home">首页</a> </li>
    <li><a href="#">网站信息</a> </li>

    <li class="right-align" th:text="${manage.shopName}"></li>
</ul>
<div class="admin ">
    <iframe name="right" scrolling="auto" frameborder="0" width="100%" height="100%"></iframe>
</div>
</body>
</html>

