<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/uHead :: head"></head>
<body>
<!--<div th:replace="uTop :: header"></div>-->
<div th:replace="common/uTop :: header"></div>
<!--导航条-->
<div class="width100" style="height: 45px;background: #dd4545;margin-top: 40px;position: relative;z-index: 100;">
    <!--中间的部分-->
    <div class="width1200 center_yh relative_yh" style="height: 45px;">
        <!--普通导航-->
        <div class="left_yh font16" id="pageNav">
            <a th:href="@{/index/uIndex}">首页</a>
            <a href="https://www.taobao.com/">淘宝</a>
            <a href="https://www.jd.com/">京东</a>
            <a href="https://www.vip.com/">唯品会</a>
            <a href="http://www.dangdang.com/">当当网</a>
        </div>
    </div>
</div>

<div class="width1200 center_yh hidden_yh font14" style="height: 40px;line-height: 40px;">
    <span>当前位置：</span><a th:href="@{/index/uIndex}" class="c_66">首页</a>><a href="#" class="c_66">商品列表</a>
</div>
<div class="width1198 center_yh" style="height: 35px;background: #f0f0f0; border: 1px solid #ddd;margin-top:25px;">
    <a th:href="@{/item/itemList(categoryId2=${cate2})}" class="mR">默认</a>
    <a th:href="@{/item/itemList(condition=1,categoryId2=${cate2})}" class="mR">
        价格
        <img th:src="@{/user/images/gg.png}" alt="">
    </a>
    <a th:href="@{/item/itemList(condition=2,categoryId2=${cate2})}" class="mR">
        销量
        <img th:src="@{/user/images/gg.png}" alt="">
    </a>

</div>
<!--商品列表-->
<div class="width1200 center_yh hidden_yh" style="margin-top: 25px;">
    <ul class="listSs">
        <div th:each="data:${list}">
            <li>
                <a th:href="@{/item/viewItem(id=${data.id})}" class="bjK">
                    <img th:src="${data.url1}" alt="">
                </a>
                <h3 class="spName" th:text="${data.name}"></h3>
                <p class="center_yh block_yh hidden_yh" style="width: 202px;">
                    <font class="left_yh red font16" th:text="'￥'+${data.price}+'   特价：'+${data.zk}+'折'"></font>
                </p>
                <br>
                <p style="color: #1f637b" th:text="'&nbsp;&nbsp;&nbsp;&nbsp;商品描述:'+${#strings.abbreviate(data.ms,20)}"></p>
                <div class="wCa">

                    <div class="wCa2" th:onclick="addcar(${data.id})">
                        <b><img th:src="@{/user/images/sar.png}" alt=""></b>
                        <font>加入购物车</font>
                    </div>

                </div>
            </li>
        </div>

    </ul>
</div>
<div id="navs">
    <div class="pagelist">
        <!--分页开始-->
        <div class="modal-footer no-margin-top">
            <div class="col-md-6">
                当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
            </div>

            <ul class="pagination pull-right no-margin">
                <li th:if="${pageInfo.hasPreviousPage}">
                    <a th:href="'/item/listItem?pageNum=1'">首页</a>
                </li>

                <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                    <a th:href="'/item/listItem?pageNum='+${pageInfo.prePage}">
                        <i class="ace-icon fa fa-angle-double-left"></i>
                    </a>
                </li>
                <!--遍历条数-->
                <li th:each="nav:${pageInfo.navigatepageNums}">
                    <a th:href="'/item/listItem?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                    <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                </li>

                <li class="next" th:if="${pageInfo.hasNextPage}">
                    <a th:href="'/item/listItem?pageNum='+${pageInfo.nextPage}">
                        <i class="ace-icon fa fa-angle-double-right"></i>
                    </a>
                </li>

                <li>
                    <a th:href="'/item/listItem?pageNum='+${pageInfo.pages}">尾页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function addcar(id) {
        $.ajax({
            type:"POST",
            url:"[[@{/cart/cartAddItem}]]",
            data:{'itemId':id,'num':1},
            success:function (result) {
                var re = result;
                if(re.res == 0){
                    alert("请登录");
                    window.location.href="/user/uLogin";
                }else {
                    window.location.href="/cart/myCart";
                }
            }
        });
    }
</script>
<div th:replace="common/uFooter :: footer"></div>
</body>
</html>

